body {
  font-family: helvetica;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: rgba(0,0,0,.8);
  font-size: 18px;
  line-height: 1.4;
  margin: 0px;
  overflow-x:hidden;
  background-color: #f5f5f5 !important;
}

/* HERE ARE THE STYLES FOR THE ARTICLE PAGES (blog homepage code is at the bottom) */

#headerImage {
  position:relative;
  width: 100%;
  z-index: -100;
}

.articleBody {
  margin: auto;
  width: 700px;
  font-size: 1.5em;
  font-weight: 200;
}

h1 {
  color: rgba(45, 112, 169, 0.93) !important;
}

#copyright {
  width:100%;
  text-align: center;
  font-size: 0.75em;
  font-weight: 100;
}

#nav {
  position: fixed;
  width: 100%;
  height: 60px;
  color: white;
  z-index: -10;
}

#leftNav {
  position: absolute;
  height: 40px;
  left: 20px;
  top: 10px;
}

#share {
  position: absolute;
  height: 40px;
  right: 20px;
  top: 10px;
}

#leftNav img {
  margin: 7px 0 0 5px;
  display: block;
}

#logo {
  height: 28px;
}

#email {
  height: 30px;
}

.contact {
  height: 40px;
}

.socialApp {
  border-radius: 20px;
  height: 35px;
  margin: 2px 0 0 5px;
}

#nav .socialApp {
  display: block;
  margin-bottom: 7px;
}

#loading {
  position: relative;
  left: 49%;
}

.articleFooter {
  width: 100%;
  text-align: center;
}

.footerShare {
  position: relative;
}

#footerBar {
  background-color: cornflowerblue;
  opacity: .8;
  position: relative;
  width: 100%;
  height: 40px;
  margin-top: 30px;
  -webkit-box-shadow: inset 0 1px 5px 0 rgba(0,0,0,0.4);
  box-shadow: inset 0 1px 5px 0 rgba(0,0,0,0.4);
}

#footerBar p {
  padding-top: 5px;
}

/* HERE ARE THE STYLES FOR THE BLOG HOME PAGE */

#share .inline , #leftNav .inline {
  display: inline-block;
}

.shiftUpward {
  margin-top: -7px;
}

#techBlogHeader {
  width: 100%;
  text-align: center;
  height: 60px;
  position: fixed;
  z-index: 100;
  background-color: rgba(255,255,255,0.95);
  top:0;
}

#techBlogTitle {
  position: relative;
  top: 15px;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
  animation: type 1s steps(60, end);
  margin-left: auto;
  margin-right: auto;
}

.blinkingAnimation {
  animation: blink 1s infinite;
}

@keyframes type {
  from { width: 0; }
}

@keyframes blink {
  to{ opacity: .0; }
}

#homePageBody {
  position: relative;
  top: 50px;
  padding-top: 50px;
  background-color: #f5f5f5;
}

.homePageItem {
  position:relative;
  width: 100%;
  margin-bottom: 25px;
  text-align: center;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
}

.homePageItem img {
  width: 100%;
}

.homePageItemInfo {
  width: 100%;
  display: inline-block;
  text-align: left;
  padding: 30px;
}

#homePageFooter {
  background-color: cornflowerblue;
  opacity: .8;
  position: relative;
  width: 100%;
  height: 40px;
  margin-top: 50px;
  -webkit-box-shadow: inset 0 1px 5px 0 rgba(0,0,0,0.4);
  box-shadow: inset 0 1px 5px 0 rgba(0,0,0,0.4);
}

#homePageFooter p {
  top: 9px;
  position: relative;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

#followUs {
  height: 500px;
  background-color: black;
  margin-top: -20px;
}

#followUs .socialApp {
  height: 120px;
  margin: 20px;
  border-radius: 50%;
}

#followUs .footerShare {
  top: 140px;
}

#followUs h1 {
  color: white !important;
}

.wp-pagenavi a.page.larger{
  margin: 5px;
  border: 1px solid rgba(0,0,0,0.4);
  display:inline-block;
  width:25px;
  margin-top: 25px;
}
#homePageBody row:nth-child(1){
  margin-top: 8rem;
}
